#toolbar {
    background-color: darkblue;
}

h1 {
    font-size: 100px;
    display: inline;
    color: white;
    margin-left: 90px;
}

.fa-bars {
    font-size: 100px;
    color: white;
    margin: 30px;
}
.img { 
   height: 200px;
}

.pstyle{
    font-size:100px
}
